<section class="game-square-container">
    <div class="game-square">
        <div data-character="getCharacter()"
             data-ng-if="isOccupied()">
        </div>
    </div>
    <ul class="action-menu"
        data-ng-click="stopPropagation($event)"
        data-ng-show="isOpened() && !isSelectingAttack()">
        <li data-ng-click="startMoveMode()"
            data-ng-show="canMove() && canPerformActions()"
            data-ng-class="{ 'disabled': shouldDisable('move') }">move
        </li>
        <li data-ng-click="startSelectingAttack()"
            data-ng-show="canAttack() && canPerformActions()"
            data-ng-class="{ 'disabled': shouldDisable('attack') }">attack
        </li>
        <li data-ng-click="closeActionPanel()">cancel</li>
    </ul>
    <ul class="attack-list"
        data-ng-show="isSelectingAttack()"
        data-ng-click="stopPropagation($event)">
        <li data-ng-repeat="attack in getAttackList()"
            data-ng-click="selectSkill($index)">
            {{ attack.getName() }}
        </li>
        <li data-ng-click="closeActionPanel()">cancel</li>
    </ul>
</section>